.root {
    -fx-background-color: lightgray;
}

.label {
    -fx-alignment: center;
}

.button {
    -fx-font-family: 'Impact';
    -fx-font-size: 30;

    -fx-background-color: #ff6f61;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-color: #aa0000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: #e6594c;
}

.button:hover {
    -fx-background-color: #ff6f61;
}


#version_credit {
    -fx-alignment: BOTTOM_LEFT;
    -fx-font-family: 'Impact';
    -fx-font-size: 20;
    -fx-text-fill: whitesmoke; 
}